<div id="header">
    <div align="center">
        <img src="../images/mmb-banner-logo-final.svg" width="750" height="145" />
    </div>
</div>
<div id="nav">
    <ul>
        <li><a href="/">Home</a><span>~</span></li>
        <li><a href="/auditions.html">Auditions</a><span>~</span></li>
        <li><a href="/cd/">CD</a><span>~</span></li>
        <li><a href="#" onclick="MM_openBrWindow('contact.html','','scrollbars=yes,width=450,height=450')">Contact</a><span>~</span></li>
        <li><a href="/directors/">Directors</a><span>~</span></li>
        <li><a href="/history/">History</a><span>~</span></li>
        <li><a href="https://drive.google.com/a/manitowocmarineband.org/file/d/10uRlKPWz2ggQbP5Xmo1soT_s7whGCh_S/view">Schedule</a></li>
    </ul>
</div>