<div id="header">
    <div align="center">
        <img src="/images/mmb-banner-logo-final.svg" width="750" height="145" />
    </div>
</div>
<div id="nav">
    <ul>
        {{ $currentPage := . }}
        <li><a href="/">Home</a><span>~</span></li>
        {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}" {{if $currentPage.IsMenuCurrent "main" .}}class="current"{{end}}>{{.Name}}</a><span>~</span></li>
        {{end}}
        <li><a href="https://drive.google.com/a/manitowocmarineband.org/file/d/10uRlKPWz2ggQbP5Xmo1soT_s7whGCh_S/view">Schedule</a></li>
    </ul>
</div>