<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Manitowoc Marine Band | {{ .Title }}</title>
    <meta name="Keywords" content="Manitowoc Marine Band" />
    <meta name="Description" content="Since 1898, The Manitowoc Marine Band has brought together a wide variety of area musicians, from high school students to retirees, amateurs to professionals, to learn and hone their skills in the art of wind band music. Each year, this extraordinary collaboration culminates in a series of local concerts, made freely available for the enrichment and enjoyment of an audience of thousands. "
    />
    <link rel="stylesheet" media="screen" href="/style.css" /> {{ with .Params.customCss }}
    <link rel="stylesheet" href="{{.}}" /> {{ end }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111647619-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-111647619-1');
    </script>
</head>

<body>
    <div id="wrap">
        {{ partial "header.html" . }}
        <div id="main">
            {{ .Content }}
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>

</html>